<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h3>欢迎使用RSC后台侍服系统</h3>
    <p><a href="/monthWork">地区工作量情况百分比统计图</a></p><br/>
    <p><a href="/postWordDetails">地区邮差工作情况详情图</a></p><br/>
    <p><a href="/errorPostWordDetails">地区邮差的收派失败情况图</a></p><br/>
    <p><a href="/attendanceDetails">邮差的考勤情况图</a></p><br/>
    <p><a href="/postmanAllSalary">邮差工资情况</a></p><br/>
    <p><a href="/mailAllState">查看包裹状态</a></p><br/>
    <p><a href="/attendance">考勤系统</a></p>
</center>
</body>
</html>