<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件状态</title>
    <style>
        a{
            width: 200px;
        }
    </style>
</head>
<body>
<center>
    <h1>所有包裹的状态</h1>
    <form action="findMailById" method="post">
        <input type="text" name="mid" placeholder="请输入快递单号">
        <input type="submit" value="搜索">
    </form>
    <a href="mailState?state=等待分配&i=0">等待分配</a>
    <a href="mailState?state=准备收件&i=0">准备收件</a>
    <a href="mailState?state=正在收件&i=0">正在收件</a><br/>
    <a href="mailState?state=收件完成&i=0">收件完成</a>
    <a href="mailState?state=收件不成功&i=0">收件不成功</a>
    <a href="mailState?state=准备派件&i=0">准备派件</a><br/>
    <a href="mailState?state=正在派件&i=0">正在派件</a>
    <a href="mailState?state=派件签收&i=0">派件签收</a>
    <a href="mailState?state=派件不成功&i=0">派件不成功</a>
    <!--<a href="/mailState?state='派件异常'">派件异常</a>-->
    <br/><br/>
    <a href="admin">返回首页</a>
</center>

</body>
</html>