<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>邮差的考勤情况</title>
    <script src="/echarts-en.common.js"></script>
    <script src="/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/all.css">
    <style>
        h3{
            color: transparent;
            background-color : black;
            text-shadow : rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;
            -webkit-background-clip : text;
        }

    </style>
</head>
<body>
<center><h3>邮差的考勤情况</h3></center><br/>
<center>
<div class="row col-sm-7">
    <input class="form-control" type="text" id="pid" placeholder="请输入员工id"/>

    <label>年份</label>
    <div id="year">
        <select class="form-control">
            <option th:each="year:${years}" th:value="${year}" th:text="${year}"></option>
        </select>
    </div>

    <label> 月份</label>
    <div id="month">
        <select class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    <div class="col-sm-1"><input type="submit" value="确定" id="btn" class="btn btn-primary form-control"/></div>
</div>
</center>
<center>
    <div id="main" style="width: 600px;height:400px;/*border:1px dashed #000;*/"/>
</center>
</div>

<script>
    $(".btn").click(function () {

            var year = $('#year option:selected').val();
            var month = $('#month option:selected').val();
            var postid = $('#pid').val();
        if(postid==""||postid.replace(/[^\d]/g,'').length==0){
            alert("请正确输入邮差的id");
        }else {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
            // 指定图表的配置项和数据
            var names = ["在岗天数", "请假天数", "加班天数"];
            var values = [];
            // 数据加载完之前先显示一段简单的loading动画
            myChart.showLoading();
            $.ajax({
                type: "post",
                async: true,
                //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                url: "attendanceData?year=" + year + "&month=" + month + "&id=" + postid,    //请求发送到dataActiont处
                data: {},
                dataType: "json",        //返回数据形式为json
                success: function (result) {
                    //清除之前的图层
                    myChart.clear();
                    //请求成功时执行该函数内容，result即为服务器返回的json对象
                    if (result) {
                        if (result[0].name=="无数据") {
                            values.push(null);
                            values.push(null);
                            values.push(null);
                            myChart.hideLoading();
                            //隐藏加载动画
                            myChart.setOption(
                                {
                                    title: {
                                        text: '无记录',
                                        x: 'center'
                                    }
                                })
                        }
                        else {
                            for (var i = 0; i < result.length; i++) {

                               // names.push(result[i].name);
                                values.push(result[i].value);
                            }
                            myChart.hideLoading();
                            //隐藏加载动画
                            myChart.setOption(
                                {
                                    title: {
                                        text: postid + '的工作情况',
                                        x: 'center'
                                    },
                                    tooltip: {
                                        trigger: 'item',
                                        formatter: "{b} : {c} ({d}%)"
                                    },
                                    legend: {
                                        orient: 'vertical',
                                        left: 'left',
                                        data: names
                                    },
                                    series: [
                                        {
                                            name: '',
                                            type: 'pie',
                                            radius: '55%',
                                            center: ['50%', '60%'],
                                            data: result,
                                            itemStyle: {
                                                emphasis: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                }
                                            }
                                        }
                                    ]
                                });
                        }
                    } else {
                        alert("改月没有数据！")
                    }
                },
                error: function (errorMsg) {
                    //请求失败时执行该函数
                    alert("图表请求数据失败!");
                    myChart.hideLoading();
                }
            });
        }
        //end ajax
    });//刷新方法结束
    //});
</script>

</body>
</html>