<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>邮差确认派件</title>
</head>
<body>
<center>
    <h3>邮差--<span th:text="${session.postman.id}"></span>：确定异常邮件派送是否成功/故障</h3>
    <div th:text="${psuccess}" style="color: red;"></div>
    <br>
    <table border="1" style="text-align: center">
        <tr>
            <th>邮件编号</th>
            <th>所属客户姓名</th>
            <th>所属客户手机号</th>
            <th>客户的地区</th>
            <th>客户的地址</th>
            <th>收件状态</th>
            <th>订单生成时间</th>
            <th>上一次派送的时间</th>
            <th>编辑:派件是否异常</th>
            <th>派件是否成功</th>
        </tr>
        <tr th:each="mail:${session.mailList}">
            <td th:text="${mail.id}"></td>
            <td th:text="${mail.customer.name}"></td>
            <td th:text="${mail.customer.phone}"></td>
            <td th:text="${mail.customer.region.region}"></td>
            <td th:text="${mail.customer.address}"></td>
            <td th:text="${mail.assignState.state}" style="color: blue;"></td>
            <td th:text="${mail.createTime}"></td>
            <td th:text="${mail.lastAssignTime}">
            <td>
                <form action="assignfault" method="post">
                    <input type="hidden" th:value="${mail.id}" name="mailId" />
                    <input type="hidden" th:value="${session.page}" name="page" />
                    <textarea name="reason"  rows="3" cols="20" ></textarea><br>
                    <input type="submit" value="是" style="background-color:coral;width: 60px" />
                </form>
            </td>
            <td>
                <form action="exceptionToSuccess" method="post">
                    <input type="hidden" th:value="${mail.id}" name="mailId" />
                    <input type="hidden" th:value="${session.page}" name="page" />
                    <input type="submit" value="成功" style="background-color:#3683ff;width: 60px" />
                </form>
            </td>

        </tr>
    </table>
    <p>
        <a th:href="@{|pdeterminereceive?page=${session.page-1}|}"><span th:if="${ session.page!=0}">上一页</span></a>
        <------>
        <a th:href="@{|pdeterminereceive?page=${session.page+1}|}"><span th:if="${ session.page+1!= session.TotalPages}">下一页</span></a>
    </p>
    <a th:href="pindex"><p>返回</p></a>
</center>
</body>
</html>