<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>确认派件</title>
</head>

<body>
<div class="d-flex justify-content-center vh-90">
    <center>
        <p><h4 style="color: #cf9d2a">异常快递</h4></p>
        <div th:text="${psuccess}" style="color: red;font-size: 18px;"></div>
        <table class="table-striped form-group vw-100" style="text-align: center">
            <thead>
            <tr>
                <th>邮件编号</th>
                <th>收件人姓名</th>
                <th>收件人手机号</th>
                <th>派送的地区</th>
                <th>派送的地址</th>
                <th>派件状态</th>
                <th>系统分配派件时间</th>
                <th>上一次派送时间</th>
                <th>已派送次数</th>
                <th>编辑:派件是否异常</th>
                <th>派件是否成功</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr th:each="mail:${session.mailList}">
                <td th:text="${mail.id}"></td>
                <td th:text="${mail.addresseeName}"></td>
                <td th:text="${mail.addresseePhone}"></td>
                <td th:text="${mail.assignRegion.region}"></td>
                <td th:text="${mail.address}"></td>
                <td th:text="${mail.assignState.state}" style="color: blue;"></td>
                <td th:text="${#dates.format(mail.distributeAssignTime,'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#dates.format(mail.lastAssignTime,'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${mail.assignFrequency-1}">
                <td>
                    <form action="assignfault" method="post">
                        <input type="hidden" th:value="${mail.id}" name="mailId"/>
                        <input type="hidden" th:value="${session.page}" name="page"/>
                        <textarea name="reason" placeholder="如异常请填写异常原因" rows="2" cols="22"></textarea><br>
                        <input type="submit" value="异常" class="btn btn-danger"/>
                    </form>
                </td>
                <td>
                    <form action="exceptionToSuccess" method="post">
                        <input type="hidden" th:value="${mail.id}" name="mailId"/>
                        <input type="hidden" th:value="${session.page}" name="page"/>
                        <input type="submit" value="成功" class="btn btn-success"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <th:url var="url_pre" value="contact_select">
            <th:param name="pageCur" value="${session.page-1}"/>
        </th:url>
        <th:url var="url_next" value="contact_select">
            <th:param name="pageCur" value="${session.page+1}"/>
        </th:url>
        <span th:if="${session.page !=0 }">
            <li class="page-item">
                <a class="page-link" th:href="@{assignException(page=${session.page-1})}">上一页</a>
            </li>
        </span>
        <span th:if="${session.page ==0 }">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{assignException(page=${session.page-1})}">上一页</a>
            </li>
        </span>
        <li class="page-item"><a class="page-link">第<span th:text="${session.page+1}"></span>页/共<span
                th:text="${session.TotalPages}"></span>页</a></li>
        <li class="page-item"><a class="page-link">共<span th:text="${session.count}"></span>条记录</a></li>
        <span th:if="${session.page+1 !=session.TotalPages && session.TotalPages !=0}">
            <li class="page-item">
                <!--<a class="page-link" href="passign?page=1">下一页</a>-->
                <a class="page-link" th:href="@{assignException(page=${session.page+1})}">下一页</a>
            </li>
        </span>
        <span th:if="${session.page+1 == session.TotalPages || session.TotalPages == 0}">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{assignException(page=${session.page+1})}">下一页</a>
            </li>
        </span>
    </ul>
</nav>

<script src="/js/jquery-3.4.0.js"></script>
<script src="/js/bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('#mymodal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var cname = button.closest('tr').children('td').first().text()
            var cid = button.data('cid')

            $(this).find('#course').text(cname)
            $(this).find('#delete').data('cid', cid)
        })

        $('#delete').on('click', function () {
            var cid = $(this).data('cid')
            console.log('此处发送AJAX请求到服务端删除cid为 %s 的记录。', cid)
            $('#mymodal').modal('hide')
        })

    })
    $('th').addClass('text-center p-2 border-top border-bottom')
    $('td').addClass('text-center p-2 border-top border-bottom')
</script>

</body>