<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/all.css">
    <title>快递管理系统</title>
    <style>
        #accordionExample,
        #rs {
            transition: max-width 2s, opacity 2s;
        }

        .guanl {
            max-width: 0%;
            opacity: 0;
        }

        .guanr {
            max-width: 100%;
        }

        .fontlqx {
            color: rgb(235, 227, 227);
        }

        .fontlqx:hover {
            color: white;
        }

        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #shang,
        #xia,
        #zuo,
        #you {
            transition: height 2s, width 2s, margin 2s, padding 2s, opacity 2s, max-width 2s;
        }

        #shang {
            height: 0vh;
        }

        #you {
            height: 90vh;
        }

        #zuo {
            width: 0%;
        }

        .yin {
            opacity: 0;
        }

        #fanhui {
            transition: opacity 1s, visibility 1s;
        }
    </style>
</head>

<body>
<div class="row no-gutters">
    <div class="accordion col-lqxl bg-dark vh-100" id="accordionExample">
        <div class="card bg-dark text-light">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="/images/快递小哥.png" class="card-img rounded-circle w-lqx mx-3 my-1">
                </div>
                <div class="col-8">
                    <div class="card-body text-nowrap">
                        工号： <span th:text="${session.postman.id}"></span><br>
                        姓名： <span th:text="${session.postman.name}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group">
            <a href="" class="list-group-item list-group-item-action bg-dark text-light"
               data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">快递管理</a>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                 data-parent="#accordionExample">
                <div class="card-body p-0">
                    <div class="nav flex-column nav-pills" id="v-pills-tab">
                        <a class="nav-link" href="pduty" target="lqx" id="client1">上班签到</a>
                        <a class="nav-link" href="preceive?page=0" target="lqx" id="contact1">去收件</a>
                        <a class="nav-link" href="pdeterminereceive?page=0" target="lqx" id="contactRecord1">确认收件</a>
                        <a class="nav-link" href="passign?page=0" target="lqx" id="clinefeedback1">去派件</a>
                        <a class="nav-link" href="pdetermineassigned?page=0" target="lqx" id="fileabout1">确认派件</a>
                        <a class="nav-link" href="assignException?page=0" target="lqx" id="clientSelect1">异常派件</a>
                        <a class="nav-link" href="historicalreceive?page=0" target="lqx" >历史收件</a>
                        <a class="nav-link" href="historicalassign?page=0" target="lqx" >历史派件</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lqxr bg-light" id="rs">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light shadow-sm p-3 mb-3 bg-white rounded">
            <button class="btn btn-secondary" type="button" id="yingcang">
                <span>隐藏</span>
            </button>

            <div class="collapse navbar-collapse" id="mynav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-3">
                        <a class="navbar-brand ml-2" href="#">RSC快递管理系统-邮差端</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-info my-2 my-sm-0 yin invisible" target="lqx" id="fanhui">返回上级</a>
                </form>
            </div>
            <button class="btn btn-danger" type="button" >
                <a href="plogout" style="text-decoration:none;color: white;"><span>注销</span></a>
            </button>

        </nav>
        <div class="bg-light">
            <div class="embed-responsive embed-responsive-21by9 w-100 mx-auto shadow p-3 bg-white rounded"
                 id="you">
                <iframe class="embed-responsive-item" src="/rsc/pm/welcome" name="lqx" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/js/jquery-3.4.0.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $('#yingcang').on('click', function () {
            $('#accordionExample').toggleClass('guanl')
            $('#rs').toggleClass('guanr')
            $('#shang').toggleClass('vw-83 vw-96')
            $('#xia').toggleClass('vw-83 vw-96')
        })
        $('.nav-link').on('click', function () {
            $('.nav-link').removeClass('bg-secondary')
            $(this).addClass('bg-secondary')
        })
        $('#tiancha').on('click', function () {
            $('#shang').removeClass('vh-5 mb-2 pt-2')
            $('#shang').addClass('yin')
            $("#you").removeClass('vh-83')
            $("#fanhui").removeClass('yin invisible')
        })
        $('#fanhui').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
        })
        $('#client1').on('click', function () {
            $('#tiancha').attr("href", "client_in")
            $('#fanhui').attr("href", "client_select")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#contact1').on('click', function () {
            $('#tiancha').attr("href", "addcontact")
            $('#fanhui').attr("href", "contact_select")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#contactRecord1').on('click', function () {
            $('#tiancha').attr("href", "contactrecord_in")
            $('#fanhui').attr("href", "contactrecord_select")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#clinefeedback1').on('click', function () {
            $('#tiancha').attr("href", "clinefeedback")
            $('#fanhui').attr("href", "clientfeedback_select")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#fileabout1').on('click', function () {
            $('#tiancha').attr("href", "fileabout")
            $('#fanhui').attr("href", "fileabout_select")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#clientSelect1').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#qdxx').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#qdlxr').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#qdlxjl').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#qdhd').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#qdwd').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#tsgl').on('click', function () {
            $('#tiancha').text("记录投诉情况")
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('#tssl').on('click', function () {
            $('#shang').addClass('vh-5 mb-2 pt-2')
            $('#shang').removeClass('yin')
            $("#you").addClass('vh-83')
            $("#fanhui").addClass('yin invisible')
            $('#zuo').removeClass('w-15')
            $('#you').removeClass('w-83')
            $('#you').addClass('w-100')
        })
        $('.nav-link').addClass('fontlqx pl-5 text-nowrap')
        $('.list-group>a').addClass('text-nowrap')
    })


</script>
</body>

</html>