<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>客户确定邮件</title>
</head>

<body>
<div class="d-flex justify-content-center vh-90">
    <center>
        <!--<h3 style="color: #cf9d2a">客户&#45;&#45;<span th:text="${session.customer.name}"></span>：确定邮件是否已经收取/付款</h3>-->
        <table class="table-striped form-group vw-100">
            <thead>
            <tr>
                <th>邮件编号</th>
                <th>您的姓名</th>
                <th>您的手机号</th>
                <th>您的地区</th>
                <th>您的地址</th>
                <th>收件人姓名</th>
                <th>收件人手机</th>
                <th>收件人的地区</th>
                <th>收件人详细地址</th>
                <th>收件快递小哥</th>
                <th>收件状态</th>
                <th>订单生成时间</th>
                <th width="120px">已收取/付款</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mail:${session.mailList}">
                <td th:text="${mail.id}"></td>
                <td th:text="${mail.customer.name}"></td>
                <td th:text="${mail.customer.phone}"></td>
                <td th:text="${mail.customer.region.region}"></td>
                <td th:text="${mail.customer.address}"></td>
                <td th:text="${mail.addresseeName}"></td>
                <td th:text="${mail.addresseePhone}"></td>
                <td th:text="${mail.assignRegion.region}"></td>
                <td th:text="${mail.address}"></td>
                <td><span th:if="${mail.receivePostman==null}" style="color: brown">暂无分配</span><span
                        th:if="${mail.receivePostman!=null}"><span th:text="${mail.receivePostman.name}"></span></span>
                </td>
                <td th:text="${mail.receiveState.state}" style="color: blue;"></td>
                <td th:text="${mail.createTime}"></td>
                <td>
                    <form action="cDetermineMail" method="post">
                        <input type="hidden" th:value="${mail.id}" name="mailId"/>
                        <input type="submit" value="已收取/付款" class="btn btn-warning"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <th:url var="url_pre" value="contact_select">
            <th:param name="pageCur" value="${session.page-1}"/>
        </th:url>
        <th:url var="url_next" value="contact_select">
            <th:param name="pageCur" value="${session.page+1}"/>
        </th:url>
        <span th:if="${session.page !=0 }">
            <li class="page-item">
                <a class="page-link" th:href="@{cCheckOrDetermine(page=${session.page-1})}">上一页</a>
            </li>
        </span>
        <span th:if="${session.page ==0 }">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{cCheckOrDetermine(page=${session.page-1})}">上一页</a>
            </li>
        </span>
        <li class="page-item"><a class="page-link">第<span th:text="${session.page+1}"></span>页/共<span
                th:text="${session.TotalPages}"></span>页</a></li>
        <li class="page-item"><a class="page-link">共<span th:text="${session.count}"></span>条记录</a></li>
        <span th:if="${session.page+1 !=session.TotalPages && session.TotalPages !=0}">
            <li class="page-item">
                <!--<a class="page-link" href="passign?page=1">下一页</a>-->
                <a class="page-link" th:href="@{cCheckOrDetermine(page=${session.page+1})}">下一页</a>
            </li>
        </span>
        <span th:if="${session.page+1 == session.TotalPages || session.TotalPages == 0}">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{cCheckOrDetermine(page=${session.page+1})}">下一页</a>
            </li>
        </span>
    </ul>
</nav>

<script src="/js/jquery-3.4.0.js"></script>
<script src="/js/bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('#mymodal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var cname = button.closest('tr').children('td').first().text()
            var cid = button.data('cid')

            $(this).find('#course').text(cname)
            $(this).find('#delete').data('cid', cid)
        })

        $('#delete').on('click', function () {
            var cid = $(this).data('cid')
            // console.log('此处发送AJAX请求到服务端删除cid为 %s 的记录。', cid)
            $('#mymodal').modal('hide')
        })

    })
    $('th').addClass('text-center p-2 border-top border-bottom')
    $('td').addClass('text-center p-2 border-top border-bottom')
</script>

</body>