<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户寄快递</title>
</head>
<body>
<center>
    <h3>寄快递</h3>
    <form name="form" action="postcmail" method="post">
        收件人姓名：<input type="text" name="addresseeName" maxlength="10" required="required"/><p>
        收件人手机号：<input type="text" name="addresseePhone" oninput="value=value.replace(/[^\d]/g,'');" maxlength="11" required="required"/><p>
        收件地区:
        <select  name="assignRegion">
            <option th:each="region:${regions}" th:value="${region.id}" th:text="${region.region}"></option>
        </select><p>
        收件详细地址：<input type="text" name="address" maxlength="100" style="width: 400px" required="required"/><p>
        <input type="submit" value="确定"/>
        <input type="reset" value="重置">
        <br>
        <a href="cindex2"><p>返回</p></a>
    </form>
</center>
</body>
</html>